.NotFound {
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 78px;
    font-weight: 600;
  }

  h2,
  p {
    color: $color-grey;
  }

  p {
    margin: 0;
  }
}
