.Home {
  width: 100%;
  height: calc(100vh - $height-tabs);
  background: $color-secondary;

  .home-title {
    padding: 0 40px;

    .code {
      font-weight: 600;
      color: $color-primary;
    }
  }

  .home-header {
    width: 100%;
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    background: #fff;

    .logo {
      width: 50px;
      height: 50px;
    }

    h2 {
      margin: 0;
    }
  }

  .container {
    width: 100%;
    margin: auto;
    padding: 20px 60px;

    .card {
      width: 100%;
      height: 250px;
      margin: auto;
      margin-bottom: 30px;
      padding: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      border: none;
      border-radius: 10px;
      background: #fff;
      transition: 0.15s ease-in transform;

      p {
        margin: 0;

        &.title {
          font-size: 20px;
          font-weight: 600;
        }

        &.content {
          font-size: 14px;
          font-weight: 400;
          color: $color-grey;
        }
      }

      .content {
        margin-bottom: 20px;
      }

      button {
        width: 120px;
        height: 35px;
        padding: 0;

        span {
          font-size: 14px;
        }
      }

      .banner-right {
        content: '';
        width: 200px;
        height: 160px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: inherit;
        background: $color-primary;
        opacity: 50%;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
