.Layout-Main {
  & > div:not(.Home) {
    width: 100%;
    height: calc(100vh - $height-tabs);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-secondary;
  }
}
